<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Somethingloc.al</title>
        <meta name="description" content="It's your city. It's your registry.">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="{{MEDIA_URL}}css/normalize.css">
        <link rel="stylesheet" href="{{MEDIA_URL}}css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Lobster&text=Connect%20with%20us' rel='stylesheet' type='text/css'>
        <script src="{{MEDIA_URL}}js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body class="vendor">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="container shadow">
            <header>
                <div id="logo">
                    <a href="/"><img src="{{MEDIA_URL}}img/logo.png" alt="SomethingLoc.al - It's your city. It's your registry."></a>
                </div>                
            </header>           
            <div class="social">
                Connect with us<br />
                <a href="https://www.facebook.com/pages/Something-Local/275362079244066"><img src="{{MEDIA_URL}}img/fb.png" alt=""></a>
                <a href="http://www.twitter.com/something_local"><img src="{{MEDIA_URL}}img/twitter.png" alt=""></a>
            </div>
            <header>
                <h2><strong>Wedding bells</strong> sound sweeter <br />when purchased <strong>locally</strong>.</h2>
            </header>
            <div class="page-copy-one">
                Finally, an easy way to get your storefront online! Our centralized site makes it easy for locally-minded buyers to discover what you have to offer, and to buy from you no matter where they are. Brides and moms-to-be are free to register for what they truly want: unique items that support the city they love.
                <div class="input-holder top35 downb">
                    <input type="submit" value="Open my Something Local Shop">
                </div> 
            </div>
            <div class="page-copy-two">
                <h2>What Can <strong>I Sell</strong> On <strong>Something Local</strong>?</h2>
                Your store will be introduced to others through bridal registries and social media. Anyone can buy from Something Local and the more involved Austin shops are, the more traffic to your store. There is no upfront cost to you. 
            </div>
            <div class="images">
                <img src="{{MEDIA_URL}}img/locally.png" alt="">
            </div> 
            <div class="page-copy-two">
                <h2>Why Should <strong>I Sign Up</strong> With <strong>Something Local</strong>?</h2>
                On Something Local, you can offer products and services that are locally sold, or locally made. <strong>Everything from sushi for two, a great home accessory, or a sky diving class.</strong>
            </div>
            <div class="images top25">
                <img src="{{MEDIA_URL}}img/world.png" alt="">
            </div>
            <div class="page-copy-two top25">
                We take care of development, design and site maintainence. Our expertise is in all the above, plus PR, marketing, social media and branding. We work for you! If you have a Facebook profile, then you have the know-how you need to make money with Something Local.
            </div>
            <div class="page-copy-two top25">
                <h2>How Do <strong>I Sign Up</strong>?</h2>
                Sign up through our online form. After a brief review process, you will <br />receive our Terms of Use. Once you've read it and electronically signed it, email it back to us. We will then guide you through the storefront set-up <br />and maintainence process. <br /> <br />You will receive weekly emails about the progress of our site, <br />which launches on October 5th, 2012. <br /><br />To get a head start on your storefront, begin photographing your <br />products in a digital format, and write your required materials:
                <ul>
                    <li>About your store</li>
                    <li>Product description and prices</li>
                    <li>Your Return Policy</li>
                </ul>
            </div>
            <div class="images top15">
                <img src="{{MEDIA_URL}}img/bubble.png" alt="">
            </div>
            <div class="page-copy-two top5">
                Let shoppers know that they will soon be able to create <br />online registries featuring your products. After the launch, we will <br />provide marketing materials so you can promote your site in-store.
            </div>
            <div class="images top30">
                <img src="{{MEDIA_URL}}img/sale.png" alt="">
            </div>
            <div class="page-copy-two top15">
                For our premiere vendors, there is no upfront cost. Something Local <br />makes income only when you sell a product. After the launch we will <br />continue to offer a no-charge membership to vendors who signed up <br />initally, so get started now!
            </div>
            <div class="page-copy-two top15">
                <div class="input-holder downb nob">
                    <input type="submit" value="Open my Something Local Shop">
                </div>
            </div>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{MEDIA_URL}}js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="{{MEDIA_URL}}js/plugins.js"></script>
        <script src="{{MEDIA_URL}}js/main.js"></script>
    </body>
</html>
