{% extends "site_base.html" %}
{% block content_body%}
<div id="email_form">
  <div class="control-group" id="container_email">
    <label for="id_email">Email:</label>
    <div class="input">
      {{ reset_form.email }}
      <div id="message_email" class="help-inline"></div>
    </div>
    <a class="btn btn-large btn-primary" href="javascript:void(0)" onclick="App.User.password_reset_email()">Reset</a>
  </div>
</div>
<div id="email_sent" class="none">
  An email has been sent to this email account. Please check your email for password reset instructions
</div>
{% endblock %}
