{% extends "site_base.html" %}
{% block content_body%}
<div class="alert alert-error none" id="message___all__"></div>
<div class="control-group" id="container_password">
  <label for="id_password">New password:</label>
  <div class="input">
    {{ reset_form.password }}
    <div id="message_password" class="help-inline"></div>
  </div>
</div>
<div class="control-group" id="container_confirm_password">
  <label for="id_confirm_password">Confirm password:</label>
  <div class="input">
    {{ reset_form.confirm_password }}
    <div id="message_confirm_password" class="help-inline"></div>
  </div>
</div>
<a class="btn btn-large btn-primary" href="javascript:void(0)" onclick="App.User.password_reset_password()">Save password</a>
{% endblock %}
